In [57]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [58]:
import webbrowser
url = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'

In [59]:
# Create DataFrame from file
nfl_df = pd.read_csv('nfl', sep="|", header=0)
nfl_df

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East
5,6,Minnesota Vikings,470,390,10,0.546,1961,870,NFC North
6,7,Baltimore Ravens,190,161,1,0.541,1996,352,AFC North
7,8,New York Giants,687,585,33,0.539,1925,"1,305",NFC East
8,9,Denver Broncos,470,404,10,0.537,1960,884,AFC West
9,10,San Francisco 49ers,528,460,14,0.534,1950,"1,002",NFC West

In [60]:
type(nfl_df)

pandas.core.frame.DataFrame

In [61]:
nfl_df.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Total Games', 'Division'],
      dtype='object')

In [62]:
nfl_df['Rank']

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: Rank, dtype: int64

In [63]:
nfl_df.Division

0     NFC East
1    NFC North
2    NFC North
3     AFC East
4     AFC East
5    NFC North
6    AFC North
7     NFC East
8     AFC West
9     NFC West
Name: Division, dtype: object

In [74]:
DataFrame(nfl_df, columns=['Team', 'First NFL Season'])

                      Team  First NFL Season
0           Dallas Cowboys              1960
1        Green Bay Packers              1921
2            Chicago Bears              1920
3           Miami Dolphins              1966
4  New England Patriots[b]              1960
5        Minnesota Vikings              1961
6         Baltimore Ravens              1996
7          New York Giants              1925
8           Denver Broncos              1960
9      San Francisco 49ers              1950

In [76]:
DataFrame(nfl_df, columns=['Team', 'First NFL Season', 'Stadium'])

                      Team  First NFL Season         Stadium
0           Dallas Cowboys              1960  Levi's Stadium
1        Green Bay Packers              1921  Levi's Stadium
2            Chicago Bears              1920  Levi's Stadium
3           Miami Dolphins              1966  Levi's Stadium
4  New England Patriots[b]              1960  Levi's Stadium
5        Minnesota Vikings              1961  Levi's Stadium
6         Baltimore Ravens              1996  Levi's Stadium
7          New York Giants              1925  Levi's Stadium
8           Denver Broncos              1960  Levi's Stadium
9      San Francisco 49ers              1950  Levi's Stadium

In [66]:
nfl_df

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East
5,6,Minnesota Vikings,470,390,10,0.546,1961,870,NFC North
6,7,Baltimore Ravens,190,161,1,0.541,1996,352,AFC North
7,8,New York Giants,687,585,33,0.539,1925,"1,305",NFC East
8,9,Denver Broncos,470,404,10,0.537,1960,884,AFC West
9,10,San Francisco 49ers,528,460,14,0.534,1950,"1,002",NFC West

In [67]:
nfl_df.head(3)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North

In [68]:
nfl_df.tail(2)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
8,9,Denver Broncos,470,404,10,0.537,1960,884,AFC West
9,10,San Francisco 49ers,528,460,14,0.534,1950,"1,002",NFC West

In [69]:
nfl_df.ix[3]

/home/bryan/Desktop/py-env/python-ds-libs/lib/python3.5/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Rank                             4
Team                Miami Dolphins
Won                            445
Lost                           351
Tied                             4
Pct.                         0.559
First NFL Season              1966
Total Games                    800
Division                  AFC East
Name: 3, dtype: object

In [70]:
nfl_df.loc[3]

Rank                             4
Team                Miami Dolphins
Won                            445
Lost                           351
Tied                             4
Pct.                         0.559
First NFL Season              1966
Total Games                    800
Division                  AFC East
Name: 3, dtype: object

In [71]:
nfl_df.iloc[2]

Rank                            3
Team                Chicago Bears
Won                           749
Lost                          579
Tied                           42
Pct.                        0.562
First NFL Season             1920
Total Games                 1,370
Division                NFC North
Name: 2, dtype: object

In [72]:
nfl_df['Stadium']="Levi's Stadium"
nfl_df

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East,Levi's Stadium
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North,Levi's Stadium
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North,Levi's Stadium
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East,Levi's Stadium
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East,Levi's Stadium
5,6,Minnesota Vikings,470,390,10,0.546,1961,870,NFC North,Levi's Stadium
6,7,Baltimore Ravens,190,161,1,0.541,1996,352,AFC North,Levi's Stadium
7,8,New York Giants,687,585,33,0.539,1925,"1,305",NFC East,Levi's Stadium
8,9,Denver Broncos,470,404,10,0.537,1960,884,AFC West,Levi's Stadium
9,10,San Francisco 49ers,528,460,14,0.534,1950,"1,002",NFC West,Levi's Stadium

In [77]:
nfl_df['Stadium'] = np.arange(10)
nfl_df

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East,0
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North,1
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North,2
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East,3
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East,4
5,6,Minnesota Vikings,470,390,10,0.546,1961,870,NFC North,5
6,7,Baltimore Ravens,190,161,1,0.541,1996,352,AFC North,6
7,8,New York Giants,687,585,33,0.539,1925,"1,305",NFC East,7
8,9,Denver Broncos,470,404,10,0.537,1960,884,AFC West,8
9,10,San Francisco 49ers,528,460,14,0.534,1950,"1,002",NFC West,9

In [78]:
stadiums = Series(["Levi's Stadium", "AT&T Stadium"], index=[4, 0])
stadiums

4    Levi's Stadium
0      AT&T Stadium
dtype: object

In [79]:
nfl_df['Stadium']=stadiums
nfl_df

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East,AT&T Stadium
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North,NaN
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North,NaN
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East,NaN
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East,Levi's Stadium
5,6,Minnesota Vikings,470,390,10,0.546,1961,870,NFC North,NaN
6,7,Baltimore Ravens,190,161,1,0.541,1996,352,AFC North,NaN
7,8,New York Giants,687,585,33,0.539,1925,"1,305",NFC East,NaN
8,9,Denver Broncos,470,404,10,0.537,1960,884,AFC West,NaN
9,10,San Francisco 49ers,528,460,14,0.534,1950,"1,002",NFC West,NaN

In [80]:
del nfl_df['Stadium']
nfl_df

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East
5,6,Minnesota Vikings,470,390,10,0.546,1961,870,NFC North
6,7,Baltimore Ravens,190,161,1,0.541,1996,352,AFC North
7,8,New York Giants,687,585,33,0.539,1925,"1,305",NFC East
8,9,Denver Broncos,470,404,10,0.537,1960,884,AFC West
9,10,San Francisco 49ers,528,460,14,0.534,1950,"1,002",NFC West

In [81]:
data = {'City': ['SF', 'LA', 'NYC'],  'Population': [837000, 3880000, 8400000]}
data

{'City': ['SF', 'LA', 'NYC'], 'Population': [837000, 3880000, 8400000]}

In [82]:
# Create DataFrame from dictionary
city_df = DataFrame(data)
city_df

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000